@font-face {
  font-family: 'latoRegular';
  src: url("../fonts/Lato-Regular/Lato-Regular.eot") format("embedded-opentype"), url("../fonts/Lato-Regular/Lato-Regular.svg") format("svg"),
  url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff");

}

@font-face {
  font-family: 'latoMedium';
  src: url("../fonts/Lato-Medium/Lato-Medium.eot") format("embedded-opentype"), url("../fonts/Lato-Medium/Lato-Medium.svg") format("svg"),
  url("../fonts/Lato-Medium/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato-Medium/Lato-Medium.woff") format("woff");
}

@font-face {
  font-family: 'latoBlack';
  src: url("../fonts/Lato-Black/Lato-Black.eot") format("embedded-opentype"), url("../fonts/Lato-Black/Lato-Black.svg") format("svg"),
  url("../fonts/Lato-Black/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black/Lato-Black.woff") format("woff");
}

@font-face {
  font-family: 'latoSemiBold';
  src: url("../fonts/Lato-SemiBold/Lato-SemiBold.eot") format("embedded-opentype"), url("../fonts/Lato-SemiBold/Lato-SemiBold.svg") format("svg"),
  url("../fonts/Lato-SemiBold/Lato-SemiBold.ttf") format("truetype"), url("../fonts/Lato-SemiBold/Lato-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'heavy';
  src: url("../fonts/Lato-Heavy/Lato-Heavy.eot") format("embedded-opentype"), url("../fonts/Lato-Heavy/Lato-Heavy.svg") format("svg"),
  url("../fonts/Lato-Heavy/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy/Lato-Heavy.woff") format("woff");
}

@font-face {
  font-family: 'light';
  src: url("../fonts/Lato-Light/Lato-Light.eot") format("embedded-opentype"), url("../fonts/Lato-Light/Lato-Light.svg") format("svg"),
  url("../fonts/Lato-Light/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light/Lato-Light.woff") format("woff");
}

@font-face {
  font-family: 'latoThin';
  src: url("../fonts/Lato-Thin/Lato-Thin.eot") format("embedded-opentype"), url("../fonts/Lato-Thin/Lato-Thin.svg") format("svg"),
  url("../fonts/Lato-Thin/Lato-Thin.ttf") format("truetype"), url("../fonts/Lato-Thin/Lato-Thin.woff") format("woff");
}

@font-face {
  font-family: 'cheque';
  src: url("../fonts/Cheque-Black/Cheque-Black.eot") format("embedded-opentype"), url("../fonts/Cheque-Black/Cheque-Black.svg") format("svg"),
  url("../fonts/Cheque-Black/Cheque-Black.ttf") format("truetype"), url("../fonts/Cheque-Black/Cheque-Black.woff") format("woff");
}

body {
  font-family: 'latoRegular';
}

.mycontainer {
  width: 80%;
  margin: auto;
}

$red: #c93034;
.white {
  color: #fff;
}
.red{ color: $red; }
.black {
  color: #000;
}

.mrg-top-20 {
  margin-top: 20px;
}

.mrg-right-20 {
  margin-right: 20px;
}

.mrg-btm-40 {
  margin-bottom: 40px;
}

.mrg-btm-30 {
  margin-bottom: 30px;
}

.mrg-btm-20 {
  margin-bottom: 20px;
}

.mrg-btm-10 {
  margin-bottom: 10px;
}

.f-12 {
  font-size: 12px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-25 {
  font-size: 25px;
}

.f-lg {
  font-size: 25px;
}

.f-md {
  font-size: 18px;
}
.f-30{
  font-size: 30px
}
.semiBold {
  font-family: 'latoSemiBold';
}

.thin {
  font-family: 'latoThin';
}

.thinItalic {
  font-family: 'latoThin';
  font-style: italic;
}

.bold {
  font-family: 'latoRegular';
  font-weight: 600;
}

.heavy {
  font-family: 'heavy';
}

.light {
  font-family: 'light';
}

.medium {
  font-family: 'latoMedium';
}

.latoBlack{
  font-family: 'latoBlack';
}

.belowSection {
  margin-bottom: 80px;
}

li {
  list-style: none;
  display: inline;
}

img {
  min-width: 100%;
}

.centerImg {
  margin: 0 -100%;
}

.logo {
  width: 170px;
  min-width: initial;
}
.belowSectionTitle{
  margin-left: 120px;
}
a {
  &:hover {
    color: #000
  }
}

.clock {
  margin-right: 7px
}

header {
  line-height: 160px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .searchForm{
    display: none;
    direction: rtl;
    button{
      background-color: transparent;
      border: none;
      color: #FFF
    }
    input{
      color: #fff;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #474747;
      width: 170px;
      font-size: 18px;
      direction: ltr;
    }
  }
  a {
    color: #fff;
  }
  ul {
    float: right;
    display: none;

    li {
      margin: 0 15px;
      &:last-child {
        margin-right: 0;
        position: relative;
        margin-top: -12px;
        p {
          position: absolute;
          color: #fff;
          line-height: initial;
          top: 22px;
          right: 11px;
          font-size: 14px;
        }
      }
      i {
        margin-right: 5px;
      }
      a {
        &:hover {
          color: $red;
        }
      }
    }
  }
  .mynav{
    font-size: 30px;
  }
}

.differentArrows {
  .swiper-button-prev, .swiper-button-next {
    background-image: url("../images/next.png");
    background-size: 32px 32px;
    width: 35px
  }
  .swiper-button-prev {
    transform: rotate(180deg)
  }
}

.bottomContent {
  width: 210px;
  font-family: 'latoBlack';
  p {
    font-size: 24px;
    color: #fff;;
  }
  .firstHr {
    margin-top: 19px;
    width: 50%;
    float: left;
    background-color: #fff
  }
  .secondHr {
    float: left;
    width: 30%;
    margin-top: -18px;
    background-color: #fff
  }
}

.home {
  position: relative;
  background-image: url("../images/home.jpg");
  background-position: center;
  background-size: cover;
  min-height: 772px;
  position: relative;
  padding-top: 160px;
  p {
    color: #fff;
  }
  .date {
    text-align: right;
    margin-bottom: 115px;
    p {
      color: #1d1d1d;
      line-height: 1;
    }
    .day {
      font-size: 90px;
      font-weight: 600;
    }
    .month {
      font-size: 18px;
    }
  }
  .sliderHeader {
    font-size: 15px;
    color: #fff;
    font-family: 'latoMedium';
    .bgColor {
      background-color: $red;
      padding: 5px;
      margin-left: 5px;
    }
  }
  .swiper-container {
    padding-bottom: 70px;
    .slideContent {
      width: 100%;
    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px !important;
  }
  .swiper-pagination-bullet {
    background: #686867 !important;
    width: 10px !important;
    height: 10px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }
}

.sectionTitle {
  background-color: $red;
  padding: 5px 10px;
  min-width: 120px;
  text-align: center;
  font-family: 'latoSemiBold';
  font-style: italic;
  font-size: 18px;
  display: inline-block;
  color: #fff;
}

hr {
  border-top: 1px solid #797979;
}

.singleCol {
  width: 100%;
  overflow: hidden;
  float: left;
}

.topNews {
  margin-top: 95px;
  a{
    color: #000;
  }
  .content, .subNews{
    p{
      &:after{
        position: absolute;
        content: "";
        box-shadow: 1px 2px #c5c5c5;
        width: 40%;
        height: 1px;
        left: 54%;
        bottom: 5px;
      }
    }
  }
  .singleCol {
    margin-top: 30px;
    .mainNews {
      background-color: #fff;
      .img {
        height: 375px;
        overflow: hidden;
      }
      .content {
        padding: 20px;
        p{
          padding-bottom: 30px;
          &:after{
            width: 100%;
            left: 0;
            bottom: 15px;
          }
        }
        .readMore {
          display: inline-block;
          color: #000;
          float: right;
          font-size: 11px;
        }
      }
    }
  }
  .subNews {
    height: 214px;
    background-color: #fff;
    position: relative;
    &:last-child{
      p{
        &:after{ box-shadow: none }
      }
    }
    .img {
      width: 50%;
      height: 100%;
      overflow: hidden;
    }
    .subNewsContent {
      height: 100%;
      padding: 0 25px;
    }
  }
}

.belowNews {
  margin: 40px 0;
  li {
    padding: 0 30px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    a {
      color: #000;
    }
  }
  .fa-star {
    color: $red;
  }
}

.whiteBg {
  left: 0;
  bottom: 0;
  background-color: #fffffd;
}

.redBg {
  background-color: $red;
  padding: 15px;
  color: #fff;
}

.videos {
  margin-bottom: 70px;
  img {
    min-height: 100%;
  }
  .mainVideo {
    height: 591px; //600
    margin-bottom: 30px;
    .aroundMain {
      width: 46%;
      left: 0;
      bottom: 0
    }
    .mainOverlay {
      padding: 20px;
      p {
        padding: 30px 0 40px;
      }
      .passTime {
        font-size: 11px;
        font-family: 'light ';
      }
    }
    .trend {
      left: 46%;
      bottom: 0;
      font-size: 19px;
      letter-spacing: 3px;
    }
  }
  .subVideo {
    height: 197px;
    a {
      &:hover {
        color: #fff
      }
    }
    .subOverlay {
      .play {
        font-size: 10px;
        font-family: 'light';
        left: 0;
        bottom: 0;
      }
      .videoContent {
        left: 55px;
        bottom: 5px;
        margin-left: 12px;
      }
    }
  }
  .mainVideo, .subVideo, .colVideo {
    width: 100%;
    overflow: hidden;
  }
}

.play {
  width: 55px;
  height: 50px;
  background-color: $red;
  padding: 10px;
}

.tabs {
  margin: 25px 65px 60px;
  a {
    color: #a2a2a0;
    font-family: latoRegular;
    font-weight: 600;
    padding-bottom: 15px;
    &:hover , &.active{
      color: #80807f;
      border-bottom: 1px solid #80807f;
    }
  }
}

.news {
  width: 80%;
  margin-left: 10%;
  .singleNews {
    .singleCol{
      width: 100%;
      &.colImg{
        left:0;
        top: 0;
        height: 100%;
        img{
          min-height: 100%;
        }
      }
    }
    .newsContent {
      //height: 100%;
      background-color: #fff;
      padding: 40px 50px 0 40px;
      text-transform: uppercase;
      .description {
        padding-bottom: 40px;
        position: relative;
        &:after{
          position: absolute;
          content: "";
          box-shadow: 1px 2px #bcbcbc;
          width: 100%;
          height: 1px;
          left: 0;
          bottom: 5px;
        }
      }
      .newsFooter {
        font-size: 9px;
        margin: 30px 0;
      }
    }
  }
  .swiper-slide {
    opacity: 0.4;
  }
  .swiper-slide-active {
    opacity: 1;
  }
  .swiper-button-next {
    &:focus {
      outline: none;
    }
  }
}

.socialIcons {
  i {
    margin-right: 5px;
  }
  a {
    &:hover {
      color: $red;
    }
  }
}

.fullWidth {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

.live {
  margin: 85px 0;
  .fullWidth {
    .whiteBg {
      padding: 15px 25px;
      max-width: 490px;
      .liveHead {
        width: 50%;
      }
      .liveWord {
        width: 20%;
        color: $red;
        font-size: 20px;
        font-size: 20px;
        letter-spacing: 3px;
        i {
          font-size: 14px;
        }
      }
    }
    .redBg {
      top: 30px;
      right: 35px;
      font-size: 18px;
      i {
        margin-right: 20px;
      }
    }
  }
}

.subscribe {
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  margin-bottom: 60px;
  .subscribeContent {
    padding: 40px;
    .sentence {
      margin: 70px 0;
    }
    .subscribeHead {
      font-family: 'cheque';
      font-size: 35px;
    }
  }
  button {
    font-size: 24px;
    background-color: transparent;
    padding: 10px 15px;
    color: #fff;
    border: 3px solid #fff
  }
}

.gallery {
  margin-bottom: 80px;
  .fullWidth {
    margin-top: 60px;
    img {
      min-height: 100%;
    }
  }
  .swiper-button-prev, .swiper-button-next {
    top: auto;
    bottom: 26px
  }
  .swiper-button-prev {
    transform: rotate(180deg);
    left: 26px
  }
  .swiper-button-next {
    right: auto;
    left: 122px
  }
  .pagination {
    position: absolute;
    bottom: 40px;
    left: 70px;
    font-style: italic;
  }
  .whiteBg {
    width: 249px;
    z-index: 9;
    p {
      padding: 50px 24px;
      margin-bottom: 70px;
    }
  }
}

.ads {
  margin-bottom: 70px;
  .allAds {
    margin-top: 50px;
    .singleAd {
      width: 100%;
      float: left;
      padding-bottom: 50px;
      .adImg {
        height: 218px;
        overflow: hidden;
        img {
          min-height: 100%;
        }
      }
      .adContent {
        padding: 10px 15px 35px;
      }
      .adFooter {
        font-size: 10px;
        padding: 10px 0;
      }
    }
  }
}

footer {
  border-top: 2px solid $red;
  .upperFooter {
    background-color: #000;
    height: auto;
    padding: 50px 0;
    .contact {
      span {
        color: #959595;
      }
      i {
        padding: 5px;
        font-size: 9px
      }
    }
    ul {
      margin-top: 45px;
      li {
        display: block !important;
        margin-bottom: 20px;
      }
      a {
        &:hover {
          color: $red;
        }
        i {
          padding-right: 10px
        }
      }
    }
  }
  form {
    input {
      color: #959595;
    }
    input, button {
      background-color: transparent;
      border: none;
    }
    button {
      margin-left: 70px;
    }
  }
  .upper {
    width: 100%;
    margin-bottom: 40px;
  }
  .lowerFooter {
    padding: 40px 0;
    background-color: #0e0e0e;
    li {
      margin-bottom: 20px;
      display: block;
    }
    p {
      font-size: 12px;
      color: #fff;
      font-family: 'light';
    }
  }

}

.articleHome {
  background-image: url("../images/articleHome.jpg");
  background-size: cover;
  background-position: center;
  height: 775px;
}

.articleContent {
  .head {
    font-size: 48px;
    margin: 40px 0
  }
  .aboutArticle {
    .user {
      margin-right: 40px;
      img {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin-right: 10px;
        min-width: initial
      }
    }
  }
  .articleData {
    font-size: 30px;
    padding: 35px 0
  }
  .articleImg {
    height: 515px;
    overflow: hidden;
    margin: 15px 0 35px;
    .play-and-white {
      left: 0;
      bottom: 0
    }
    .whiteBg {
      padding: 0 10px;
      max-width: 490px
    }
    .videoHead {
      padding: 50px 0;
      font-size: 30px
    }
    .videoTime {
      font-size: 11px;
      color: black
    }
  }
  .belowSocial {
    margin: 0 0 85px;
    .belowNews {
      margin: 0
    }
  }
  .backHome {
    button {
      padding: 20px;
      background-color: $red;
      font-size: 21px;
      border: none
    }
  }
}

.articleBottom {
  background-image: url("../images/ArticleBottom.jpg");
  background-size: cover;
  background-position: center;
  min-height: 170px;
  margin: 85px 0 140px;
  padding: 25px 25px;
  .main {
    text-align: left;
  }
  .more {
    margin-bottom: 35px;
  }
  .red {
    color: $red
  }
}

.moreBtn {
  padding: 15px;
  border: 2px solid #fff;
  background-color: transparent;
  color: white;
}

.internal {
  background-image: url("../images/articleHome.jpg");
  .date{
    p{
      color: #fff;
      opacity: 0.1;
    }
  }
}

.internalTopNews {
  font-size: 11px;
}

.events {
  margin-top: 50px;
  .eventBg {
    height: 600px;
    margin: 70px 0 60px;
    overflow: hidden;
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    background-position: center;
    padding: 45px 20px
  }
  .up {
    width: 100%;
  }
  .down {
    p {
      font-size: 27px;
      color: $red;
    }
  }
}

.eventsPhotos {
  .swiper-container {
    margin: 75px 0 48px;
  }
  .myphoto {
    height: 515px;
    overflow: hidden;
    img {
      min-height: 100%;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    background-color: #fff;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
}

.feature {
  .allFeatures {
    margin-top: 45px;
    .singleFeature {
      width: 100%;
      float: left;
      margin-bottom: 45px;
      .featureImg {
        height: 325px;
        overflow: hidden;
        .bottomContent {
          left: 30px;
          bottom: 20px;
        }
      }
      .featureContent {
        padding: 0 25px;
        background-color: #fff;
        p {
          padding: 20px 0;
        }
        .limit{
          padding-bottom: 30px;
          &:after{
            position: absolute;
            content: "";
            box-shadow: 1px 2px #c5c5c5;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 5px;
          }
        }
        .featureFooter {
          font-size: 11px;
          padding: 15px 0 25px;
        }
      }
    }
  }
  button {
    width: 170px;
    height: 40px;
    background-color: $red;
    border: none;
  }
}

.eventBg {
  &.two {
    margin: 0;
  }
}

.adContentSec {
  margin: 35px 0 55px;
  .sectionTitle {
    width: 165px;
  }
  .internalSingleAd {
    height: 355px;
    overflow: hidden;
    width: 100%;
    margin-top: 45px;
    .internalAdImg {
      overflow: hidden;
    }
    .aboveAd {
      left: 30px;
      bottom: 20px;
      padding: 0 15px 0 0;
      text-align: left;
      font-size: 17px;
    }
  }
}

.articleBottom {
  &.two {
    margin: 0 0 75px 0;
  }
}

.internalFooter {
  background-color: #000;
  border-top: 2px solid $red;
  padding: 30px 0 45px;
  .listHeader {
    font-weight: bold;
    font-style: italic;
    font-size: 19px;
    color: #fff;
  }
  ul {
    margin: 35px 0 20px;
    li {
      display: block;
      color: #fff;
      font-family: 'light';
    }
  }
  .title {
    span {
      font-size: 20px;
      color: #fff;
    }
    .bold, .semiBold {
      font-style: italic;
    }
    .subtitle {
      font-size: 15px;
    }
  }
  .contact {
    margin-top: 50px;
    & > div {
      padding-bottom: 30px;
    }
    .region {
      select {
        background-color: #212121 !important;
        border: none;
        padding: 10px;
        color: #fff;
        font-size: 15px;
      }
    }
  }
  .socialIcons {
    i {
      margin-right: 15px;
    }
  }
  .signUp {
    input {
      background-color: #212121;
      border: none;
      height: 35px;
      width: 260px;
      &::-webkit-input-placeholder {
        padding: 10px;
      }
    }
    form {
      width: fit-content;
      width: -moz-fit-content;
      width: -webkit-fit-content;
      button {
        background-color: #2e2e2e;
        right: 0;
        top: 0;
        position: absolute;
        border: none;
        height: 35px;
        i {
          padding: 0 20px;
          color: #fff;
        }
      }
    }
  }
}

.searchRes {
  hr{
    border-top: 1px solid #dadada;
  }
  header {
    background-color: #000;
    margin-bottom: 50px;
    position: relative;
  }
  .searchHead {
    margin-bottom: 7px;
    .resNo {
      color: #8a8a8a;
    }
    .country {
      color: #686868;
    }
  }
  .singleResult {
    margin: 45px 0 30px;
    min-height: 215px;
    .resultImg {
      max-width: 100%;
      overflow: hidden;
      margin-bottom: 20px;
    }
    .resultContent {
      max-width: 100%;
      font-size: 16px;
      .head {
        font-size: 24px;
      }
    }
  }
  .pagination {
    margin: 55px 0;
    button {
      background-color: $red;
      border: none;
      width: 115px;
      text-align: center;
      padding: 10px 0;
      color: #fff;
    }
    .numbers {
      padding-top: 10px;
      a {
        color: #a1a1a1;
        padding: 0 7px;
        &:hover ,&.active{
          color: #757575;
        }
      }
    }
    .numbers, .prev, .next {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
.notFoundSec{
  header{
    ul{
      display: block!important;
    }
  }
}
.notFoundSec {
  header {
    background-color: #000;
    position: relative;
  }
  .notFound {
    height: 880px;
    width: 100%;
    img {
      width: 290px;
      min-width: initial;
    }
    .text {
      font-size: 24px;
      width: 100%;
      margin: 65px 0 80px;
    }
    button {
      font-size: 22px;
      width: 155px;
      height: 60px;
      background-color: $red;
      border: none;
    }
  }
}

.error500 {
  .ops {
    font-size: 48px;
    width: 100%;
    margin: 45px 0 20px;
  }
  .text {
    margin: 0 !important;
  }
  button {
    margin-top: 50px;
  }
}

.serverErr {
  .notFound {
    img {
      width: 240px !important;
    }
  }
}

@media screen and (min-width: 481px) {
  .f-lg {
    font-size: 30px;
  }
  .subscribe {
    button {
      padding: 10px 45px;
    }
  }
  .articleContent {
    .articleBottom {
      padding: 40px 70px;
    }
  }
  .internalFooter {
    .signUp {
      input {
        width: 285px;

      }
    }
  }
  footer{
    .footerNxt {
      margin-right: -50px!important;
    }
  }
  .events{
    .eventBg{
      padding: 45px;
    }
  }
}

@media screen and (min-width: 769px) {
  .logo {
    width: 225px;
  }
  .tapName {
    font-size: 16px;
  }
  .home {
    .swiper-container {
      padding-bottom: 150px;
      .swiper-pagination{
        margin-bottom: 40px!important;
      }
    }
  }
  .singleCol {
    width: 50%;
  }
  .mainNews {
    margin-right: 40px;
  }
  .videos {
    .mainVideo {
      width: 75%;
      margin-bottom: 0;
    }
    .colVideo {
      width: 25%;
    }
  }
  .live {
    .fullWidth {
      .whiteBg {
        position: absolute
      }
    }
  }
  .subscribe {
    .subscribeContent {
      padding: 40px;
      .subscribeHead {
        font-size: 72px
      }
      .sentence{
        margin: 70px 110px;
      }
    }
  }
  .singleAd {
    width: 33.3% !important;
    padding: 0 33px;
    &:first-child {
      padding: 0 66px;
      padding-left: 0 !important;
    }
    &:last-child {
      padding: 0 66px;
      padding-right: 0 !important;
    }
  }
  .upperFooter {
    ul {
      li {
        display: inline-block !important;
      }
    }
  }
  .lowerFooter {
    li {
      margin-bottom: 0 !important;
    }
  }
  .eventBg {
    .down {
      width: 340px
    }
    .bottomContent {
      width: 400px;
      p {
        font-size: 48px;
      }
      .firstHr {
        margin-top: 36px;
        height: 3px
      }
      .secondHr {
        margin-top: 33px;
        width: 25%;
        height: 3px;
      }
    }
  }
  .eventsPhotos {
    .swiper-button-next, .swiper-button-prev {
      height: 66px;
      width: 66px;
    }
  }
  .feature {
    .allFeatures {
      .singleFeature {
        width: 50%;
        &:nth-child(odd) {
          padding-right: 20px;
        }
        &:nth-child(even) {
          padding-left: 20px;
        }
      }
    }
  }
  .adContentSec {
    .internalSingleAd {
      width: 33.3%;
      float: left;
      padding: 0 15px;
      &:first-child {
        padding: 0 30px 0 0;
        .aboveAd {
          left: 15px;
          padding: 0 30px 0 0;
        }
      }
      &:last-child {
        padding: 0 0 0 30px;
        .aboveAd {
          left: 45px;
          padding: 0;
        }
      }
    }
  }
  .searchRes {
    .resultImg {
      margin-right: 25px;
    }
    .pagination {
      div {
        width: auto !important;
        margin: 0;
      }
      .numbers {
        order: 2;
      }
      .prev {
        order: 1;
      }
      .next {
        order: 3;
      }
    }
  }
  .notFoundSec {
    .notFound {
      img {
        width: 575px;
      }
    }
  }
  .error500 {
    .notFound {
      img {
        width: 390px !important;
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .bottomContent {
    position: absolute;
  }
  .eventBg {
    .bottomContent {
      position: initial;
    }
  }
  .main {
    text-align: center !important;
  }
  .feature {
    .bottomContent {
      width: 275px;
      p {
        font-size: 30px !important;
      }
      .firstHr {
        margin-top: 23px;
      }
      .secondHr {
        width: 30%;
        margin-top: 22px;
      }
    }
  }
  .searchRes {
    .singleResult {
      max-width: 765px;
      .resultImg {
        position: absolute;
        float: left;
        max-width: 300px;
        margin-bottom: 0;
        height: 100%;
        img{
          min-height: 100%;
        }
      }
      .resultContent {
        padding-left: 25px;
        float: right;
        max-width: 465px;
      }
    }
  }
  .news{
    width: 90%;
    .singleNews {
      .singleCol {
        &.colImg {
          position: absolute;
        }
      }
    }
    .singleCol{
      width: 40%!important;
      &:first-child{
        width: 60%!important;
      }
    }
    .swiper-button-next {
      right: 20% !important;
    }
  }

}

@media screen and (min-width: 1260px) {
  header {
    ul {
      display: block;
    }
    .mynav{ display: none}
  }
  .upperFooter {
    height: 290px !important;
    .upper {
      margin: 0;
    }
  }
  .f-lg {
    font-size: 36px;
  }
  .f-md {
    font-size: 24px;
  }
  .tapName {
    font-size: 14px;
  }
  .home {
    .swiper-container {
      .slideContent {
        width: 40%;
      }
    }
  }
  footer {
    .upper {
      width: auto;
    }
  }
  .internalFooter {
    .contact {
      display: flex;
      justify-content: space-between;
      & > div {
        padding-bottom: 0;
      }
    }
  }
  .internalFooter {
    .contact {
      & > div {
        padding: 0 20px 30px;
      }
    }
  }
  .searchRes {
    .singleResult {
      max-width: 965px;
      .resultImg {
        max-width: 420px;
      }
      .resultContent {
        max-width: 545px;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .tapName {
    font-size: 18px;
  }
  header {
    .searchForm {
      input {
        width: 200px;
      }
    }
  }
}