
@font-face {
  font-family: 'Lato-Thin';
  src: url('Lato-Thin.eot?#iefix') format('embedded-opentype'),  url('Lato-Thin.woff') format('woff'), url('Lato-Thin.ttf')  format('truetype'), url('Lato-Thin.svg#Lato-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
